<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia listę drużyn dodanych przez Ciebie do systemu.
	</div>
<% end %>
<% @teams.each do |team| %>
  <%= 
    link_to render_team_div(team), team_path(team),
      :class => 'index-list'
  %>
<% end %>
