<% if @tournament %>
  <h1>Lista drużyn zgłoszonych do turnieju <%= @tournament.name %></h1>
  <%= link_to 'Powrót do turnieju', tournament_path(@tournament) %> |
  <%= link_to 'Edytuj', manage_in_tournament_tournament_teams_path(@tournament) %> 
<% end %>
<br /><br />
<% @teams.each do |team| %>
  <%= 
    link_to render_team_div(team), team_path(team),
      :class => 'index-list'
  %>
<% end %>
