<% enable_drag_n_drop = false unless defined? enable_drag_n_drop %>
<li id='game-<%= game.id %>' class='game'>
  <%= render_game game %>
</li>
<% if enable_drag_n_drop %>
  <%= draggable_element("game-#{game.id}", :revert => true) %>
<% end %>
