<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia listę turniejów dodanych przez Ciebie do systemu.
	</div>
<% end %>
<% @tournaments.each do |tournament| %>
  <%= 
    link_to render_tournament_div(tournament), tournament_path(tournament),
      :class => 'index-list'
  %>
<% end %>
