<h1>Turniej <%= @tournament.name %></h1>
<div>
  <%= link_to 'Powrót do turnieju', tournament_path(@tournament) %>
</div>
<div id="table">
  <h3>Tabela</h3>
  <div>
    <%= render :partial => 'table', :object => @table %>
  </div>
  <div id="play-games">
    <h3>Mecze</h3>
    <%= render :partial => 'play_games', :object => @games %>
  </div>
</div>
