<h1>Harmonogram turnieju <%= @tournament.name %></h1>
<div>
  <%= link_to 'Powrót do turnieju', tournament_path(@tournament) %> |
  <%= link_to "Edytuj", new_tournament_schedule_path(@tournament) %>
</div>
<div id='schedule'>
  <%= render_schedule @tournament %>
</div>