<% if logged_in? %>
	<ul>
		<li><%= link_to 'Nowy turniej', new_tournament_path %></li>
		<li><%= link_to 'Nowy zawodnik', new_player_path %></li>
		<li><%= link_to 'Nowa drużyna', new_team_path %></li>
    <li><%= link_to 'Nowe boisko', new_field_path %></li>
	</ul>
<% end %>
