<% if logged_in? %>
	<ul>
		<li><%= link_to 'Dodaj turniej', new_user_tournament_path(current_user) %></li>
		<li><%= link_to 'Dodaj zawodnika', new_user_player_path(current_user) %></li>
		<li><%= link_to 'Dodaj drużynę', new_user_team_path(current_user) %></li>
		<li><%= link_to 'Dodaj osobę', new_user_person_path(current_user) %></li>
	</ul>
<% end %>
