<% if logged_in? %>
	<ul>
		<li><%= link_to 'Dodaj turniej', new_tournament_path %></li>
		<li><%= link_to 'Dodaj zawodnika', new_player_path %></li>
		<li><%= link_to 'Dodaj drużynę', new_team_path %></li>
		<li><%= link_to 'Dodaj osobę', new_person_path %></li>
	</ul>
<% end %>
