<% if show_page_info? %>
	<div id="page-info">
		Ta strona przedstawia listę zawodników dodanych przez Ciebie do systemu.
	</div>
<% end %>
<% @players.each do |player| %>
  <%=
    link_to render_player_div(player), player_path(player),
      :class => 'index-list'
  %>
<% end %>
<br />
<%= will_paginate @players %>
