<% if @tournament %>
  <h1>Lista boisk zgłoszonych do turnieju <%= @tournament.name %></h1>
  <%= link_to 'Powrót do turnieju', tournament_path(@tournament) %> |
  <%= link_to 'Edytuj', manage_in_tournament_tournament_fields_path(@tournament) %> 
<% end %>
<br /><br />
<% @fields.each do |field| %>
  <%=
    link_to render_field_div(field), field_path(field),
      :class => 'index-list'
  %>
<% end %>
