<% if show_page_info? %>
  <div id="page-info">
    Ta strona przedstawia listę boisk dodanych przez Ciebie do systemu.
  </div>
<% end %>
<% @fields.each do |field| %>
  <%=
    link_to render_field_div(field), field_path(field),
      :class => 'index-list'
  %>
<% end %>
