<% if show_page_info? %>
  <div id="page-info">
    Ta strona przedstawia szczegóły boiska.
  </div>
<% end %>
<p>
  <b>Nazwa:</b>
  <%=h @field.name %>
</p>

<p>
  <b>Opis:</b>
  <%=h @field.description %>
</p>


<%= link_to 'Edytuj', edit_field_path(@field) %> |
<%= link_to 'List boisk', fields_path %>
